
    <h1>Posts</h1>

    <div>
      <form method="get" action="/posts">
          <input type="text" name="search" value="<%= locals.search || '' %>" placeholder="search post" autocomplete="off" />
          <input type="submit" value="Search">
      </form>
    </div>


    <table id="">
      <% for (var i in posts) { %>
        <tr>
          <td><a href="/posts/<%= posts[i].id %>" class="button"><%= posts[i].title %></a>AUTHOR: <%= posts[i].author.name %></td>
        </tr>
      <% } %>
      
    </table>

    <% if (locals.paginate_control) { %>
      <%- paginate_control %>
    <% } %>

