<form method="post" action="/users/<%= user.id %>?_method=PUT" >
    
    <% include _passCheck.ejs %>

    <ul>
        <% if (user.accountType === "local") { %>
        <li>

            <b>Email actual: <%= user.email %></b>
            <label for="email" class="rem">Cambiar email:</label>
            <input type="email" id="email" name="email" />

        </li>
        <% } else { %>
            <li>Email (no se puede cambiar ya que se ha iniciado sesión con <%= user.accountType %>): <%= user.email %></li>
        <% } %>
        <li>

            <b>Username actual: <%= user.username %></b>
            <label for="username" class="rem">Cambiar username:</label>
            <input type="text" id="username" name="username" autocomplete="off"/>

        </li>
    
            
        <li>

            <b>Nombre actual: <%= user.name %></b>
            <label for="name" class="rem">Nombre:</label>
            <input type="text" id="name" name="name" />

        </li>


         <li>
             
            <b>Bio actual: <%= user.bio %></b>
            <label for="bio" class="rem">Biografía:</label>
            <input type="textarea" rows="10" id="bio" name="bio" />

        </li>

        <li>
             
            <b>Perfil privado: <%= user.isPrivate %></b>
            <label for="isPrivate" class="rem">Perfil privado:</label>
            <input type="checkbox" id="isPrivate" name="isPrivate" <%- user.isPrivate ? "checked" : "" %> />

        </li>

        <li>Account type: <%= user.accountType %></li>

    </ul>

    <input type="submit" value="Save" >

</form>


<div>
    <a href="/goback" class="button">Cancel</a>
</div>